html,body{
background-color:white;
}
.head{
height:100px;
background:linear-gradient(to right,#DD4C53 10%,#E25447 100%);
width:1530px;
margin-left:-8px;
margin-top:-25px;
padding-right:8px;
}
.head h2{
color:White;
padding-top:17px;
font-family:Arial;
font-size:27px;
padding-left:70px;
}
.head p{
color:White;
font-family:Arial;
padding-left:70px;
margin-top:-8px;
}
.head input{
margin-left:1120px;
margin-top:-100px;
padding-left:13px;
padding-right:13px;
padding-top:13px;
padding-bottom:6px;
border:2px solid white;
border-radius:4px;
background-color:#E25349;
color:White;
}
.lang select{
margin-top:55px;
padding-top:5px;
padding-bottom:5px;
color:#D9D9D9;
border:0px white;
margin-left:680px;
font-size:19px;
}
img{
margin-left:630px;
margin-top:20px;
height:113px;
width:197px;
}  
button{
background-color: DodgerBlue;
  color: white;
  font-size: 16px;
  height:30px;
  width:220px;
  margin-top:20px;
  text-align:left;
  padding-left:21px;
  border-radius:6px;
  margin-left:621px;
  border:0px solid DodgerBlue;
  }
  .or p{
  margin-left:610px;
  color:#d9d9d9;
  }
  .data input{
  margin-left:575px;
  margin-top:17px;
  width:300px;
text-align:center;
height:26px;
border-radius:4px;
  }
  .data i{
  margin-left:10px;
  }
  .data button{
   color: white;
  font-size: 16px;
  height:38px;
  width:86px;
  margin-top:20px;
  text-align:left;
  padding-right:8px;
  padding-left:14px;
  border-radius:6px;
  margin-left:682px;
  border:0px solid DodgerBlue;
  }
  hr{
  margin-top:40px;
  border:1px solid #d9d9d9;
  }
  a{
  text-decoration:none;
  color:#0091D5;
  margin-left:670px;
  margin-top:15px;
  }  
  .foot a{
  color:#555555;
  font-weight:bold;
  margin-left:591px;
  margin-top:20px;
  font-size:17px;
  }
  @media (max-width:1489px){
	  
	  html,body{
background-color:white;
}
.head{
height:100px;
background:linear-gradient(to right,#DD4C53 10%,#E25447 100%);
width:1489px;
margin-left:-8px;
margin-top:-25px;
padding-right:8px;
}
.head input{
margin-left:1000px;
margin-top:-100px;
padding-left:13px;
padding-right:13px;
padding-top:13px;
padding-bottom:6px;
border:2px solid white;
border-radius:4px;
background-color:#E25349;
color:White;
}

  }
   @media (max-width:1349px){
	  
	  html,body{
background-color:white;
}
.head{
height:100px;
background:linear-gradient(to right,#DD4C53 10%,#E25447 100%);
width:1349px;
margin-left:-8px;
margin-top:-25px;
padding-right:8px;
}
.head input{
margin-left:850px;
margin-top:-120px;
padding-left:13px;
padding-right:13px;
padding-top:13px;
padding-bottom:6px;
border:2px solid white;
border-radius:4px;
background-color:#E25349;
color:White;
}

  }
   @media (max-width:1219px){
	  
	  html,body{
background-color:white;
}
.head{
height:100px;
background:linear-gradient(to right,#DD4C53 10%,#E25447 100%);
width:1219px;
margin-left:-8px;
margin-top:-25px;
padding-right:8px;
}
.head input{
margin-left:700px;
margin-top:-120px;
padding-left:13px;
padding-right:13px;
padding-top:13px;
padding-bottom:6px;
border:2px solid white;
border-radius:4px;
background-color:#E25349;
color:White;
}
.lang select{
margin-top:35px;
padding-top:5px;
padding-bottom:5px;
color:#D9D9D9;
border:0px white;
margin-left:480px;
font-size:19px;
}
img{
margin-left:420px;
margin-top:20px;
height:113px;
width:197px;
}  
button{
background-color: DodgerBlue;
  color: white;
  font-size: 18px;
  height:30px;
  width:260px;
  margin-top:10px;
  text-align:left;
  padding-left:21px;
  border-radius:6px;
  margin-left:391px;
  border:0px solid DodgerBlue;
  }
  .or p{
  margin-left:360px;
  color:#d9d9d9;
  font-size:20px;
  }
  .data input{
  margin-left:340px;
  margin-top:17px;
  width:350px;
text-align:center;
height:26px;
font-size:20px;
border-radius:4px;
  }
  .data i{
  margin-left:10px;
  }
  .data button{
   color: white;
  font-size: 18px;
  height:38px;
  width:98px;
  margin-top:20px;
  text-align:left;
  padding-right:8px;
  padding-left:14px;
  border-radius:6px;
  margin-left:472px;
  border:0px solid DodgerBlue;
  }
  hr{
  margin-top:40px;
  border:2px solid #d9d9d9;
  }
  a{
  text-decoration:none;
  color:#0091D5;
  font-size:20px;
  margin-left:450px;
  margin-top:15px;
  }  
  .foot a{
  color:#555555;
  font-weight:bold;
  margin-left:401px;
  margin-top:20px;
  font-size:17px;
  }

  }
  
   @media (max-width:1024px) {
	html, body
{
height:100%;
overflow-x: hidden;
margin-top:0px;
margin-left:0px;
margin-right:0px;
}
  .head{
height:125px;
background:linear-gradient(to right,#DD4C53 10%,#E25447 100%);
width:1024px;
padding-top:10px;
display:flex;
flex-wrap: wrap;
}
.head h2{
color:White;
padding-top:10px;
font-family:Arial;
font-size:35px;
padding-left:30px;
display:flex;
}
.head p{
color:White;
font-family:Arial; 
font-size:29px;
margin-top:81px;
margin-left:-186px;
padding-left:20px;
}
.head input{
margin-left:810px;
margin-top:-65px;
padding-left:16px;
padding-right:16px;
padding-top:16px;
padding-bottom:9px;
border:2px solid white;
border-radius:4px;
font-size:29px;
background-color:#E25349;
color:White;
display:flex;
}
.lang select{
margin-top:20px;
padding-top:5px;
padding-bottom:5px;
color:#D9D9D9;
background-color:white;
border:0px white;
margin-left:413px;
font-size:25px;
display:flex;
}
img{
margin-left:300px;
margin-top:10px;
height:100px;
width:300px;
display:flex;
} 
 button{
background-color: DodgerBlue;
  color: white;
  font-size: 27px;
  height:30px;
  width:340px;
  margin-top:18px;
  text-align:left;
  padding-left:30px;
  border-radius:6px;
  margin-left:273px;
  border:0px solid DodgerBlue;
  }
  .or p{
  margin-left:246px;
  font-size:25px;
  margin-top:23px;
  color:#d9d9d9;
  }
  .data input{
  margin-left:230px;
  margin-top:7px;
  width:400px;
text-align:center;
height:36px;
font-size:20px;
border-radius:4px;
  }
  .data i{
	  font-size:17px;
  margin-left:13px;
  }
.data button{
   color: white;
  font-size: 16px;
  height:38px;
  width:86px;
  margin-top:25px;
  text-align:left;
  padding-right:8px;
  padding-left:13px;
  border-radius:6px;
  margin-left:387px;
  margin-bottom:70px;
  border:0px solid DodgerBlue;
  }
  hr{
  margin-top:-20px;
  border:1px solid #d9d9d9;
  }
  a{
  text-decoration:none;
  color:#0091D5;
  margin-left:357px;
  margin-top:20px;
  font-size:20px;
  }  
  .foot a{
  color:#555555;
  font-weight:bold;
  margin-left:285px;
  margin-top:20px;
  font-size:22px;
  }}  
  
  @media (max-width:768px) {
	html, body
{
height:100%;
overflow-x: hidden;
margin-top:0px;
margin-left:0px;
margin-right:0px;
}
  .head{
height:125px;
background:linear-gradient(to right,#DD4C53 10%,#E25447 100%);
width:768px;
padding-top:10px;
display:flex;
flex-wrap: wrap;
}
.head h2{
color:White;
padding-top:10px;
font-family:Arial;
font-size:35px;
padding-left:30px;
display:flex;
}
.head p{
color:White;
font-family:Arial; 
font-size:29px;
margin-top:81px;
margin-left:-181px;
padding-left:20px;
}
.head input{
margin-left:610px;
margin-top:-65px;
padding-left:16px;
padding-right:16px;
padding-top:16px;
padding-bottom:9px;
border:2px solid white;
border-radius:4px;
font-size:29px;
background-color:#E25349;
color:White;
display:flex;
}
.lang select{
margin-top:20px;
padding-top:5px;
padding-bottom:5px;
color:#D9D9D9;
background-color:white;
border:0px white;
margin-left:283px;
font-size:25px;
display:flex;
}
img{
margin-left:190px;
margin-top:10px;
height:100px;
width:300px;
display:flex;
} 
 button{
background-color: DodgerBlue;
  color: white;
  font-size: 27px;
  height:30px;
  width:340px;
  margin-top:18px;
  text-align:left;
  padding-left:30px;
  border-radius:6px;
  margin-left:166px;
  border:0px solid DodgerBlue;
  }
  .or p{
  margin-left:140px;
  font-size:25px;
  margin-top:23px;
  color:#d9d9d9;
  }
  .data input{
  margin-left:130px;
  margin-top:7px;
  width:400px;
text-align:center;
height:36px;
font-size:20px;
border-radius:4px;
  }
  .data i{
	  margin-top:3px;
  margin-left:13px;
  }
.data button{
   color: white;
  font-size: 16px;
  height:38px;
  width:86px;
  margin-top:25px;
  text-align:left;
  padding-right:8px;
  padding-left:13px;
  border-radius:6px;
  margin-left:270px;
  margin-bottom:70px;
  border:0px solid DodgerBlue;
  }
  hr{
  margin-top:-20px;
  border:1px solid #d9d9d9;
  }
  a{
  text-decoration:none;
  color:#0091D5;
  margin-left:250px;
  margin-top:20px;
  font-size:20px;
  }  
  .foot a{
  color:#555555;
  font-weight:bold;
  margin-left:155px;
  margin-top:20px;
  font-size:22px;
  }}  
	
   @media screen and (max-width : 540px){
html, body
{
height:100%;
overflow-x: hidden;
margin-top:0px;
margin-left:0px;
margin-right:0px;
}
  .head{
height:105px;
background:linear-gradient(to right,#DD4C53 10%,#E25447 100%);
width:540px;
padding-top:10px;
display:flex;
flex-wrap: wrap;
}
.head h2{
color:White;
padding-top:10px;
font-family:Arial;
font-size:30px;
padding-left:20px;
display:flex;
}
.head p{
color:White;
font-family:Arial; 
font-size:25px;
margin-top:75px;
padding-left:35px;
}
.head input{
margin-left:390px;
margin-top:-65px;
padding-left:16px;
padding-right:16px;
padding-top:16px;
padding-bottom:9px;
border:2px solid white;
border-radius:4px;
font-size:19px;
background-color:#E25349;
color:White;
display:flex;
}
.lang select{
margin-top:20px;
padding-top:5px;
padding-bottom:5px;
color:#D9D9D9;
background-color:white;
border:0px white;
margin-left:193px;
font-size:23px;
display:flex;
}
img{
margin-left:95px;
margin-top:10px;
height:90px;
width:290px;
display:flex;
} 
 button{
background-color: DodgerBlue;
  color: white;
  font-size: 24px;
  height:30px;
  width:310px;
  margin-top:8px;
  text-align:left;
  padding-left:30px;
  border-radius:6px;
  margin-left:86px;
  border:0px solid DodgerBlue;
  }
  .or p{
  margin-left:100px;
  font-size:18px;
  margin-top:3px;
  color:#d9d9d9;
  }
  .data input{
  margin-left:75px;
  margin-top:7px;
  width:330px;
text-align:center;
height:29px;
font-size:18px;
border-radius:4px;
  }
  .data i{
  margin-left:13px;
  font-size:20px;
  }
.data button{
   color: white;
  font-size: 16px;
  height:38px;
  width:86px;
  margin-top:38px;
  text-align:left;
  padding-right:10px;
  padding-left:16px;
  border-radius:6px;
  margin-left:192px;
  margin-bottom:70px;
  border:0px solid DodgerBlue;
  }
  hr{
  margin-top:43px;
  border:1px solid #d9d9d9;
  }
  a{
  text-decoration:none;
  color:#0091D5;
  margin-left:180px;
  margin-top:15px;
  }  
  .foot a{
  color:#555555;
  font-weight:bold;
  margin-left:85px;
  margin-top:20px;
  font-size:22px;
  }}
	 @media screen and (max-device-width : 414px) and  (max-device-height: 736px){
html, body
{
height:100%;
overflow-x: hidden;
margin-top:0px;
margin-left:0px;
margin-right:0px;
}
  .head{
height:100px;
background:linear-gradient(to right,#DD4C53 10%,#E25447 100%);
width:411px;
padding-top:10px;
display:flex;
flex-wrap: wrap;
}
.head h2{
color:White;
padding-top:10px;
font-family:Arial;
font-size:25px;
padding-left:20px;
display:flex;
}
.head p{
color:White;
font-family:Arial; 
font-size:19px;
padding-left:65px;
}
.head input{
margin-left:307px;
margin-top:-52px;
padding-left:15px;
padding-right:15px;
padding-top:16px;
padding-bottom:8px;
border:2px solid white;
border-radius:4px;
font-size:19px;
background-color:#E25349;
color:White;
display:flex;
}
.lang select{
margin-top:20px;
padding-top:5px;
padding-bottom:5px;
color:#D9D9D9;
background-color:white;
border:0px white;
margin-left:160px;
font-size:19px;
display:flex;
}
img{
margin-left:95px;
margin-top:10px;
height:90px;
width:199px;
display:flex;
} 
 button{
background-color: DodgerBlue;
  color: white;
  font-size: 20px;
  height:30px;
  width:260px;
  margin-top:8px;
  text-align:left;
  padding-left:21px;
  border-radius:6px;
  margin-left:71px;
  border:0px solid DodgerBlue;
  }
  .or p{
  margin-left:73px;
  size:10px;
  margin-top:3px;
  color:#d9d9d9;
  }
  .data input{
  margin-left:53px;
  margin-top:7px;
  width:285px;
text-align:center;
height:26px;
border-radius:4px;
  }
  .data i{
  margin-left:10px;
  }
.data button{
   color: white;
  font-size: 16px;
  height:38px;
  width:86px;
  margin-top:38px;
  text-align:left;
  padding-right:8px;
  padding-left:14px;
  border-radius:6px;
  margin-left:158px;
  margin-bottom:70px;
  border:0px solid DodgerBlue;
  }
  hr{
  margin-top:83px;
  border:1px solid #d9d9d9;
  }
  a{
  text-decoration:none;
  color:#0091D5;
  margin-left:140px;
  margin-top:8px;
  }  
  .foot a{
  color:#555555;
  font-weight:bold;
  margin-left:85px;
  margin-top:20px;
  font-size:17px;
  }}
   @media screen and (max-device-width : 411px) and  (max-device-height: 823px){
html, body
{
height:100%;
overflow-x: hidden;
margin-top:0px;
margin-left:0px;
margin-right:0px;
}
  .head{
height:100px;
background:linear-gradient(to right,#DD4C53 10%,#E25447 100%);
width:411px;
padding-top:10px;
display:flex;
flex-wrap: wrap;
}
.head h2{
color:White;
padding-top:10px;
font-family:Arial;
font-size:25px;
padding-left:20px;
display:flex;
}
.head p{
color:White;
font-family:Arial; 
font-size:19px;
padding-left:65px;
}
.head input{
margin-left:307px;
margin-top:-60px;
padding-left:15px;
padding-right:15px;
padding-top:16px;
padding-bottom:8px;
border:2px solid white;
border-radius:4px;
font-size:19px;
background-color:#E25349;
color:White;
display:flex;
}
.lang select{
margin-top:20px;
padding-top:5px;
padding-bottom:5px;
color:#D9D9D9;
background-color:white;
border:0px white;
margin-left:160px;
font-size:19px;
display:flex;
}
img{
margin-left:95px;
margin-top:10px;
height:90px;
width:199px;
display:flex;
} 
 button{
background-color: DodgerBlue;
  color: white;
  font-size: 20px;
  height:30px;
  width:260px;
  margin-top:8px;
  text-align:left;
  padding-left:21px;
  border-radius:6px;
  margin-left:71px;
  border:0px solid DodgerBlue;
  }
  .or p{
  margin-left:65px;
  size:10px;
  margin-top:3px;
  color:#d9d9d9;
  }
  .data input{
  margin-left:53px;
  margin-top:7px;
  width:285px;
text-align:center;
height:26px;
border-radius:4px;
  }
  .data i{
  margin-left:10px;
  }
.data button{
   color: white;
  font-size: 16px;
  height:38px;
  width:86px;
  margin-top:38px;
  text-align:left;
  padding-right:8px;
  padding-left:14px;
  border-radius:6px;
  margin-left:158px;
  margin-bottom:70px;
  border:0px solid DodgerBlue;
  }
  hr{
  margin-top:163px;
  border:1px solid #d9d9d9;
  }
  a{
  text-decoration:none;
  color:#0091D5;
  margin-left:140px;
  margin-top:8px;
  }  
  .foot a{
  color:#555555;
  font-weight:bold;
  margin-left:85px;
  margin-top:20px;
  font-size:17px;
  }}
  @media only screen and (max-device-width : 375px) and (max-device-height: 812px){
html, body
{
height:100%;
overflow-x: hidden;
margin-top:0px;
margin-left:0px;
margin-right:0px;
}
  .head{
height:100px;
background:linear-gradient(to right,#DD4C53 10%,#E25447 100%);
width:375px;
padding-top:10px;
display:flex;
flex-wrap: wrap;
}
.head h2{
color:White;
padding-top:10px;
font-family:Arial;
font-size:25px;
padding-left:20px;
display:flex;
}
.head p{
color:White;
font-family:Arial; 
font-size:19px;
padding-left:57px;
}
.head input{
margin-left:290px;
margin-top:-60px;
padding-left:13px;
padding-right:13px;
padding-top:16px;
padding-bottom:8px;
border:2px solid white;
border-radius:4px;
font-size:19px;
background-color:#E25349;
color:White;
display:flex;
}
.lang select{
margin-top:20px;
padding-top:5px;
padding-bottom:5px;
color:#D9D9D9;
background-color:white;
border:0px white;
margin-left:145px;
font-size:19px;
display:flex;
}
img{
margin-left:95px;
margin-top:10px;
height:90px;
width:182px;
display:flex;
} 
 button{
background-color: DodgerBlue;
  color: white;
  font-size: 18px;
  height:30px;
  width:240px;
  margin-top:8px;
  text-align:left;
  padding-left:21px;
  border-radius:6px;
  margin-left:71px;
  border:0px solid DodgerBlue;
  }
  .or p{
  margin-left:50px;
  size:10px;
  margin-top:3px;
  color:#d9d9d9;
  }
  .data input{
  margin-left:63px;
  margin-top:7px;
  width:240px;
text-align:center;
height:26px;
border-radius:4px;
  }
  .data i{
  margin-left:10px;
  }
.data button{
   color: white;
  font-size: 16px;
  height:38px;
  width:86px;
  margin-top:8px;
  text-align:left;
  padding-right:8px;
  padding-left:14px;
  border-radius:6px;
  margin-left:143px;
  margin-bottom:70px;
  border:0px solid DodgerBlue;
  }
  hr{
  margin-top:190px;
  border:1px solid #d9d9d9;
  }
  a{
  text-decoration:none;
  color:#0091D5;
  margin-left:125px;
  margin-top:8px;
  }  
  .foot a{
  color:#555555;
  font-weight:bold;
  margin-left:85px;
  margin-top:20px;
  font-size:17px;
  }}
   @media screen and (max-device-width : 411px) and (max-device-height: 731px){
	   
	   .head p{
color:White;
font-family:Arial; 
font-size:19px;
padding-left:67px;
}
.head input{
margin-left:306px;
margin-top:-60px;
padding-left:15px;
padding-right:15px;
padding-top:16px;
padding-bottom:8px;
border:2px solid white;
border-radius:4px;
font-size:19px;
background-color:#E25349;
color:White;
display:flex;
}
 .or p{
  margin-left:62px;
  size:10px;
  color:#d9d9d9;
  }
	 hr{
  margin-top:80px;
  border:1px solid #d9d9d9;
  }}
  @media only screen and (max-device-width : 375px) and (max-device-height: 667px){
.head p{
color:White;
font-family:Arial; 
font-size:19px;
margin-top:66px;
padding-left:60px;
}
.head input{
margin-left:287px;
margin-top:-50px;
padding-left:13px;
padding-right:13px;
padding-top:13px;
padding-bottom:6px;
border:2px solid white;
border-radius:4px;
background-color:#E25349;
color:White;
display:flex;
}
  hr{
  margin-top:47px;
  border:1px solid #d9d9d9;
  }
 }
 @media screen and (max-device-width : 360px){
html, body
{
height:100%;
overflow-x: hidden;
margin-top:0px;
margin-left:0px;
margin-right:0px;
}
  .head{
height:85px;
background:linear-gradient(to right,#DD4C53 10%,#E25447 100%);
width:360px;
padding-top:10px;
display:flex;
flex-wrap: wrap;
}
.head h2{
color:White;
padding-top:10px;
font-family:Arial;
font-size:20px;
padding-left:30px;
display:flex;
}
.head p{
color:White;
font-family:Arial; 
font-size:16px;
margin-top:60px;
padding-left:86px;
}
.head input{
margin-left:260px;
margin-top:-50px;
padding-left:13px;
padding-right:13px;
padding-top:13px;
padding-bottom:6px;
border:2px solid white;
border-radius:4px;
background-color:#E25349;
color:White;
display:flex;
}
.lang select{
margin-top:20px;
padding-top:5px;
padding-bottom:5px;
color:#D9D9D9;
background-color:white;
border:0px white;
margin-left:140px;
font-size:18px;
display:flex;
}
img{
margin-left:80px;
margin-top:20px;
height:90px;
width:182px;
display:flex;
} 
 button{
background-color: DodgerBlue;
  color: white;
  font-size: 16px;
  height:30px;
  width:220px;
  margin-top:20px;
  text-align:left;
  padding-left:21px;
  border-radius:6px;
  margin-left:61px;
  border:0px solid DodgerBlue;
  }
  .or p{
  margin-left:32px;
  size:10px;
  color:#d9d9d9;
  }
  .data input{
  margin-left:41px;
  margin-top:17px;
  width:250px;
text-align:center;
height:26px;
border-radius:4px;
  }
  .data i{
  margin-left:10px;
  }
.data button{
   color: white;
  font-size: 16px;
  height:38px;
  width:86px;
  margin-top:17px;
  text-align:left;
  padding-right:8px;
  padding-left:14px;
  border-radius:6px;
  margin-left:117px;
  margin-bottom:20px;
  border:0px solid DodgerBlue;
  }
  hr{
  margin-top:30px;
  border:1px solid #d9d9d9;
  }
  a{
  text-decoration:none;
  color:#0091D5;
  margin-left:102px;
  margin-top:15px;
  }  
  .foot a{
  color:#555555;
  font-weight:bold;
  margin-left:61px;
  margin-top:20px;
  font-size:17px;
  }}
  
 @media screen and (max-device-width : 320px){
html, body
{
height:100%;
overflow-x: hidden;
margin-top:0px;
margin-left:0px;
margin-right:0px;
}
  .head{
height:85px;
background:linear-gradient(to right,#DD4C53 10%,#E25447 100%);
width:320px;
padding-top:10px;
display:flex;
flex-wrap: wrap;
}
.head h2{
color:White;
padding-top:10px;
font-family:Arial;
font-size:20px;
padding-left:20px;
display:flex;
}
.head p{
color:White;
font-family:Arial; 
font-size:16px;
padding-left:85px;
}
.head input{
margin-left:235px;
margin-top:-47px;
padding-left:10px;
padding-right:10px;
padding-top:13px;
padding-bottom:6px;
border:2px solid white;
border-radius:4px;
background-color:#E25349;
color:White;
display:flex;
}
.lang select{
margin-top:20px;
padding-top:5px;
padding-bottom:5px;
color:#D9D9D9;
background-color:white;
border:0px white;
margin-left:130px;
font-size:17px;
display:flex;
}
img{
margin-left:80px;
margin-top:10px;
height:90px;
width:182px;
display:flex;
} 
 button{
background-color: DodgerBlue;
  color: white;
  font-size: 16px;
  height:30px;
  width:220px;
  margin-top:8px;
  text-align:left;
  padding-left:21px;
  border-radius:6px;
  margin-left:61px;
  border:0px solid DodgerBlue;
  }
  .or p{
  margin-left:45px;
  font-size:16px;
  margin-top:3px;
  color:#d9d9d9;
  }
  .data input{
  margin-left:41px;
  margin-top:7px;
  width:240px;
text-align:center;
height:26px;
border-radius:4px;
  }
  .data i{
  margin-left:7px;
  font-size:18px;
  }
.data button{
   color: white;
  font-size: 16px;
  height:38px;
  width:86px;
  margin-top:8px;
  text-align:left;
  padding-right:8px;
  padding-left:14px;
  border-radius:6px;
  margin-left:117px;
  margin-bottom:33px;
  border:0px solid DodgerBlue;
  }
   hr{
  margin-top:5px;
  border:1px solid #d9d9d9;
  }
  a{
  text-decoration:none;
  color:#0091D5;
  margin-left:100px;
  margin-top:15px;
  }  
  .foot a{
  color:#555555;
  font-weight:bold;
  margin-left:46px;
  margin-top:20px;
  font-size:17px;
  }
  }
@media screen and (max-device-width:280px){
html, body
{
height:100%;
overflow-x: hidden;
margin-top:0px;
margin-left:0px;
margin-right:0px;
}
 
.head{
height:105px;
background:linear-gradient(to right,#DD4C53 10%,#E25447 100%);
width:280px;
padding-top:10px;
display:flex;
flex-wrap: wrap;
}
.head h2{
color:White;
padding-top:17px;
font-family:Arial;
font-size:22px;
padding-left:20px;
display:flex;
}
.head p{
color:White;
font-family:Arial; 
font-size:15px;
padding-left:70px;
}
.head input{
margin-left:219px;
margin-top:-30px;
padding-left:5px;
padding-right:7px;
padding-top:11px;
padding-bottom:4px;
border:2px solid white;
border-radius:4px;
font-size:15px;
background-color:#E25349;
color:White;
display:flex;
}
.lang select{
margin-top:20px;
padding-top:5px;
padding-bottom:5px;
color:#D9D9D9;
background-color:white;
border:0px white;
margin-left:105px;
font-size:16px;
display:flex;
}
img{
margin-left:50px;
margin-top:20px;
height:80px;
width:139px
display:flex;
} 
 button{
background-color: DodgerBlue;
  color: white;
  font-size: 16px;
  height:30px;
  width:220px;
  margin-top:20px;
  text-align:left;
  padding-left:21px;
  border-radius:6px;
  margin-left:35px;
  border:0px solid DodgerBlue;
  }
  .or p{
  margin-left:18px;
  size:10px;
  color:#d9d9d9;
  }
  .data input{
  margin-left:25px;
  margin-top:17px;
  width:214px;
  font-size:13px;
  text-align:center;
  height:26px;
  border-radius:4px;
  }
  .data i{
  margin-left:10px;
  }
.data button{
   color: white;
  font-size: 16px;
  height:38px;
  width:86px;
  margin-top:17px;
  text-align:left;
  padding-right:8px;
  padding-left:14px;
  border-radius:6px;
  margin-left:90px;
  border:0px solid DodgerBlue;
  }
   hr{
  margin-top:30px;
  border:1px solid #d9d9d9;
  }
  a{
  text-decoration:none;
  color:#0091D5;
  margin-left:75px;
  margin-top:15px;
  }  
  .foot a{
  color:#555555;
  font-weight:bold;
  margin-left:24px;
  margin-top:20px;
  font-size:17px;
  }
  }
